@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers  
@model Gov.LightingSystem.Feedback.Models.UserFeedback
@{
            Layout = "~/Views/Shared/_layout.cshtml";
}     
@{   
    var id = (int)@ViewBag.QuestionId;
    var viewName = "~/Views/Shared/_question" + id.ToString() + ".cshtml";
}
<div class="govuk-grid-row">
    <div >
        @if (id > 1)
        {
            <a asp-controller="Feedback" asp-action="Index" asp-route-id="@(id-1)" class="govuk-back-link">Back</a>
        }
        <form method="post">
            <div class="">

                <partial name="@viewName" for="@Model" />

            </div>

            <div class="">
                @if (@ViewBag.errorMessage != null)
                {
                    <span class="govuk-error-message">@ViewBag.errorMessage</span>
                }
            </div>
            @if ((int)@ViewBag.QuestionId <= 5)
            {   
                <br/>
                <button type="submit" class="govuk-button" asp-controller="Feedback"
                        asp-action="Index" asp-route-id="@ViewBag.QuestionId">
                    continue
                </button>                
            }
        </form>
    </div>
    </div>



